<%- include('../partials/header') -%>

  <!-- Main container -->
  <div class="jumbotron jumbotron-fluid jumbotron-main">
    <div class="container">
      <div class="row">
          <div class="col-md-6">
<<<<<<< HEAD
                <h1 class="display-4 font-weight-bold mb-3">Welcome to <span class="highlight-text">verifme.</span> We solve your homework needs.</h1>
=======
                <h1 class="display-4 font-weight-bold mb-3">Welcome to verifme. We solve your homework needs.</h1>
>>>>>>> 2bde690370a7b90bce48b189b2fa7de21ca72511
                <p class="lead mb-5">COVID-19 has changed the way we learn. Let’s help you connect with other students.</p>
                <a href="/start" class="btn btn-lg nav-button main-CTA my-2 my-sm-0 mr-5">Get started</a>
          </div>
          <div class="col-md-6">
            <img src="/images/HomePic.png" alt="Illustration of people communicating">
          </div>
      </div>
    </div>
  </div>

<%- include('../partials/footer') -%>