<%- include('../partials/header') -%>

  <!-- Main container -->
  <div class="jumbotron jumbotron-fluid jumbotron-main">
    <div class="container">
      <div class="row">
          <div class="col-md-6">
                <h1 class="display-4 font-weight-bold mb-3">Reddit for remote <span class="highlight-text">students.</span></h1>
                <p class="lead mb-5">We help you connect with students over homework.</p>
                <a href="/start" class="btn btn-lg nav-button main-CTA my-2 my-sm-0 mr-5">Get started</a>
          </div>
          <div class="col-md-6">
            <img src="/images/HomePic.png" alt="Illustration of people communicating">
          </div>
      </div>
    </div>
  </div>

<%- include('../partials/footer') -%>