<%- include('../partials/header') -%>

<div class="container m-4">
    <h1>Post a New Article</h1>
    <form action="/articles" method="POST">
        <div class="form-group">
            <label>Title</label>
            <input required class="form-control" type="text" name="title" value="<%= article.title %>">
        </div>
        <div class="form-group">
            <label>Content</label>
            <textarea required class="form-control" name="content"><%= article.content %></textarea>
        </div>
        <button class="btn btn-primary" type="submit">Save</button>
        <a class="btn btn-secondary" href="/">Cancel</a>
    </form>
</div>

<%- include('../partials/footer') -%>