<%- include('../partials/header') -%>

<!-- <div>
    <h1>One step closer to connecting with your peers.</h1>
</div>

<div>
    
    

    <a class="btn btn-lg nav-button main-CTA my-2 my-sm-0 mr-5">Upload Work</a>
    <a class="btn btn-lg nav-button main-CTA my-2 my-sm-0 mr-5">Start Marking</a>
    
</div> -->

<div class="container">
    <div class="row">
        <!-- Image half -->
        <div class="col-md-6">
            <img src="/images/Start.png" alt="Illustration of person on desk">
        </div>
    </div>
</div>



<%- include('../partials/footer') -%>