<%- include('../partials/header') -%>

<!-- <div>
    <h1>One step closer to connecting with your peers.</h1>
</div>

<div>
    
    

    <a class="btn btn-lg nav-button main-CTA my-2 my-sm-0 mr-5">Upload Work</a>
    <a class="btn btn-lg nav-button main-CTA my-2 my-sm-0 mr-5">Start Marking</a>
    
</div> -->

<div class="container-fluid">
    <div class="row">
        <!-- Image half -->
        <div class="col-md-6 start-image-container">
            <h1 class="start-cta">One step closer to connecting with your peers.</h1>
            <img class="start-image float-right mr-5" src="/images/Start.png" alt="Illustration of person on desk">
        </div>

        <div class="col-md-6">
            <a href="/articles/new" class="btn btn-lg main-CTA my-2 my-sm-0 mr-5 start-button upload-work-button p-5 ml-5">Upload Work</a>

            <a class="btn btn-lg main-CTA my-2 my-sm-0 mr-5 start-button p-5 ml-5">Start Marking</a>
        </div>

    </div>
</div>



<%- include('../partials/footer') -%>